<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

    <connectionStrings>
        <add name="dbConnect" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=""C:\Users\User\Desktop\APU\sem2\IOOP\IOOP assgn\Recerptionist\Recerptionist\DB.mdf"";Integrated Security=True'
            providerName="System.Data.SqlClient" />
        <add name="Hotel_Mgmt_Sys_IOOP_CSharp.Properties.Settings.myDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DB\myDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>